html {
  font-family: 'Comfortaa', cursive;

}
h1{
  font-family: 'Amatic SC', cursive;
  color:green;
}
h2{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  text-decoration: underline;
}
  .title-container{
    display: flex;
    justify-content:space-between;
  }

body {
  border: 1px ;

  /* regular */
  height:98vh;
  font-family: 'Roboto', sans-serif;
  /* background-image: url("/images/happy.png"); */
  background-color: #f5f2d0;

}

p {
  font-family: 'Comfortaa', cursive;
}

#sad_happy a:hover {
  background: url('img_navsprites_hover.gif') 0 -45px;
}


/* * {padding: 0; margin: 0} */
