/*
fonts
font-family: 'Roboto', sans-serif;
font-family: 'Amatic SC', cursive;

color scheme
 */

html {
  color:black;
}

.page-div {
  /* for testing */
  border: 1px solid red;

  /* regular */
  height:98vh;
  font-family: 'Roboto', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  background-image:url("/images/home.jpg");
  background-size: cover;
}

a {
  text-decoration:none;
  color: black;
}

.main-item{
  border: 1px solid green;
  font-family: 'Amatic SC', cursive;
  text-align:center;
  font-size: 20pt;
}

.main-item:hover {
  background: transparent;
  cursor:pointer;
}


.main-item:hover .item-text > a {
  color: white;
}

.main-item#top, .main-item#bottom {
  width:30%;
  height:15%;
  margin: 20px;
  padding: 30px;
  border-radius:50%;
  background:white;
}

.main-item#merlin {
  border:none;
  background:inherit;
}

.middle-items {
  display:flex;
  height:50%;
  width:90%;
  justify-content: space-between;
  text-align:center;
  align-items:center;
}

.middle-items > .main-item {
  width: 30%;
  height: 50%;
  border:none;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon{
  border: 1px solid pink;
  background:white;
  border-radius: 50%;
  height:100px;
}

.icon img {
  padding-top:20px;
}

h1 {
  font-family: 'Amatic SC', cursive;
}
