html {
  font-family: 'Roboto', sans-serif;

}
h1{
  font-family: 'Amatic SC', cursive;
}
h2{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  text-decoration: underline;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
h1#blue {
  color: blue;
}
.title-container{
  display: flex;
  justify-content:space-between;
}

.picture_icons{
  display: flex;
  flex-direction:column;
  width:40%;
}

.pic-and-text{
  display: flex;
  justify-content: space-between;
}

.pic_text{
  width:60%;
}



/* PLASTIC BAG hover comments */
#PlasticBagText {
    display:none;
}
#PlasticBagPic:hover #PlasticBagText {
    display:block;
}

/*  FOOD WASTE hover comments */
#FoodWasteText {
    display:none;
}
#FoodWastePic:hover #FoodWasteText {
    display:block;
}
