html {
  font-family: 'Roboto', sans-serif;

}
h1, h2 {
  font-family: 'Amatic SC', cursive;
}

h1#blue {
  color: blue;
}
.title-container{
  display: flex;
  justify-content:space-between;
}

.picture_icons{
  display: flex;
  flex-direction:column;
}

3
