/*
fonts
font-family: 'Roboto', sans-serif;
font-family: 'Amatic SC', cursive;

color scheme
 */

.page-div {
  /* for testing */
  border: 1px solid red;

  /* regular */
  height:98vh;
  font-family: 'Roboto', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.main-item{
  width:30%;
  height: 30%;
  margin-top: 20px;
  padding-top: 30px;
  border: 1px solid green;
  text-align:center;
  font-family: 'Amatic SC', cursive;
  text-align:center;

}

.middle-items{
  display:flex;
  height: 30%;
  justify-content: space-between;
}
h1 {
  font-family: 'Amatic SC', cursive;
}
